script(src="http://fb.me/react-0.8.0.js")
script(src="http://code.jquery.com/jquery-1.10.0.min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js")


script(src="javascripts/namespace.js")

script(src="javascripts/build/comment.js")
script(src="javascripts/build/commentForm.js")
script(src="javascripts/build/commentList.js")
script(src="javascripts/build/commentBox.js")


script(src="javascripts/build/app.js")
